html, body, #app {
  height: 100%;
  margin: 0;
}

#app > div {
  height: 100%;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto;
  @media (max-width: 639px) {
    margin-top: 80px;
  }
}

.loading-more {
  position: relative;
  width: 100%;
  margin: 40px auto;
}

.hidden {
  display: none;
}

@import "stylesheets/Header";
@import "stylesheets/SearchForm";
@import "stylesheets/SongList";
